spring:
  profiles:
    active: dev
  security:
    enabled: false
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
  thymeleaf:
    cache: false
server:
  port: 8080
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
cloudinary:
  cloud_name: duntro9y8
  api_key: '258169897437321'
  api_secret: sBXRhPipV3MS0xsQQMyLicXP4a4
  enhance_image_tag: true
  static_file_support: true
logging:
  level:
    org.hibernate: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE
    nbu.cscb869: DEBUG